<h2>Here details for a given user</h2>

<section class='user'>
  <figure >
    <image class='user-image' src= '<%= @user.photo %>' alt="<%= @user.name %>">
  </figure>
  <div class='user-info'>
    <h2>User: <%= @user.name %></h2>
    <p>Number of post:<strong><%= @user.post_counter || 0 %></strong></p>
  </div>
</section>

<section class='user bio'>
<h2>Bio</h2>
  <p>
    <%= @user.bio %>
  </p>
</section>

<% @user.posts.each_with_index do |post, index| %>
<section class='user posts'>
  <h2>Post: <%= index + 1 %> <%= post.title%> </h2>
  <p><%= post.text%></p>
  <p class='cmts-likes'>
    <span class='comments'>Comments: <%= post.comments.count %></span>
    <span class='likes'>Likes: <%= post.likes.count %></span>
  </p> 
</section>
<% end %>
<button>See all posts</button>

