<h2>Here details for a given user</h2>

<section class='user'>
  <figure >
    <image class='user-image' src= '<%= @user.photo %>' alt="<%= @user.name %>">
  </figure>
  <div class='user-info'>
    <h2>User: <%= @user.name %></h2>
    <p>Number of post:<strong><%= @user.post_counter || 0 %></strong></p>
  </div>
</section>

<section class='user bio'>
<h2>Biography</h2>
  <p>
    <%= @user.bio %>
  </p>
</section>

<% @user.return_three_recent_posts(@user.id).each do |post| %>
  <%= link_to user_post_path(@user.id, post.id) do %>
    <section class='user posts'>
      <h2>Post: <%= post.title%> </h2>
      <p><%= post.text%></p>
      <p class='cmts-likes'>
        <span class='comments'>Comments: <%= post.comments.count %></span>
        <span class='likes'>Likes: <%= post.likes.count %></span>
      </p> 
    </section>
  <% end %>
<% end %>
<button>See all posts</button>
