<h2>Here is the post for given User</h2>
  <section class = 'user'>
    <figure>
      <image class = 'user-image' src = '<%= @user.photo %>' alt = '<%= @user.name %>'>
    </figure>
    <div class='user-info'>
      <h2>User: <%= @user.name %> </h2>
      <p>Number of posts: <%= @user.post_counter || 0 %> </p>
    </div>
  </section>

  <% @posts.each do |post| %>
    <section class='user bio'  >
      <h2>Post: <%= post.title %> </h2>
      <p><%= post.text %></p>
      <p class='cmts-likes'>
        <span class='comments'>Comments: <%= post.comments.count %></span>
        <span class='likes'>Likes: <%= post.likes.count %></span>
      </p> 
    </section>

    <section class='user bio'>
      <h2>Comments</h2>
      <% post.comments.each do |comment| %>
        <p><strong><%= comment.author.name %>: </strong> <%= comment.text %> </p>      
      <% end %>
    </section>
  <% end %>
  
  <button>Pagination</button>