<main>
  <h2>New Post</h2>
  <%= form_for [@user, @post] do |f|%>
    <h3>User: <%= @user.name %></h3>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :text%>
    <%= f.text_area :text %>

    <%= f.submit 'Create Post' , class: "button" %>
  <% end %>
</main>