<h1>Here is the details of given post for a given user and its comments</h1>

<article class = 'user det'>
  <header class='post-details'>
    <h2>Post: <%= @post.title %> by <%= @post.author.name %></h2>
    <p class='cmts-likes'>
      <span>Comments: <%= @post.comments_counter || 0 %></span>, 
      <span>likes: <%= @post.likes_counter || 0 %></span> </p>
  </header>
  <p> <%= @post.text %> </p>
</article>

<article class = 'user bio'>
<h2>Comments</h2>
  <% @post.comments.each do |comment| %>
    <p><strong><%= comment.author.name %>:</strong> <%= comment.text %></p>
  <% end %>
  
</article>
